.btn {
  &--primary {
    background-color: green;
    color: black;
  }

  &--secondary {
    background-color: yellow;
    color: black;
  }

  &--outlined {
    background-color: none;
    color: black;
  }
}
